@import "../../../assets//styles//variables.scss";


.mat-toolbar{

    background-color: $black;

}

img:hover{
    cursor: pointer;
}

.title{
    margin: auto;
    color: white;
    text-transform: uppercase;
}